<style type="text/css">
  .form-actions {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .wymupdate {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
</style>

<form action="a"></form>

<section id='records' ng-controller="AdminWineController" >
<%= form_tag "{{action}}", 'ng-action' => "{{action}}" do -%>
  <%= render 'records' %>
  <%=  select_wine_group(params[:group_id]) %>
  <div class="form-actions">
    <div class="form-actions-left">
      <%= submit_tag "将酒导入酒组", :class => "wymupdate button", 'ng-click' => "submitWineGroup()"  %>
      <%= submit_tag '导出所选酒品酒词', :class => "wymupdate button", 'ng-click' => 'SubmitWineNote()' %>
    </div>
  </div>
<% end %>

</section>
<aside id='actions'>
<%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Wines::Admin::WinesController.sortable? and ::Refinery::Wines::Wine.count > 1 %>

<%= javascript_include_tag  'lib/angular/angular' %>
<%= javascript_include_tag  'admin_app' %>
<%= javascript_include_tag  'controllers/root_controller' %>
<%= javascript_include_tag  'controllers/main_controller' %>
