<style type="text/css">
  .form-actions {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .wymupdate {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
</style>

<section id='records'>
<%= form_tag refinery.create_wine_group_items_wine_groups_admin_wine_groups_path do -%>
  <%= render 'records' %>
  <%=  select_wine_group(params[:group_id]) %>
  <div class="form-actions">
    <div class="form-actions-left">
      <%= submit_tag "将酒导入酒组", :class => "wymupdate button" %>
    </div>
  </div>
<% end %>

</section>
<aside id='actions'>
<%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::Wines::Admin::WinesController.sortable? and ::Refinery::Wines::Wine.count > 1 %>
