<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(wine_group_item) -%>">

  <table>
    <tr>
      <td width="80px"><%= wine_group_item.uuid %></td>
      <td width="200px"><%= wine_group_item.name_en %></td>
      <td><%= wine_group_item.vingate %></td>
    </tr>
  </table>

  <span class='actions'>
    
    <%#= link_to refinery_icon_tag("application_go.png"), refinery.wine_groups_wine_group_item_path(wine_group_item),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%#= link_to refinery_icon_tag("application_edit.png"), refinery.edit_wine_groups_admin_wine_group_item_path(wine_group_item),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.wine_groups_admin_wine_group_wine_group_item_path(@wine_group, wine_group_item),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => wine_group_item.id),
        :method => :delete %>
   <%= link_to "Export Notes", export_path(wine_group_item.wine_id) %>
  </span>
</li>
