<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(wine_group) -%>">
  <span class='title'>
    <%= wine_group.name %>

  </span>
  <span class='actions' style="width:300px">

    <%= link_to refinery_icon_tag('add.png') + "Add Wine", refinery.wines_admin_wines_path(:group_id => wine_group.id), :title => 'Add Wine' %>

    <%= link_to refinery_icon_tag("application_go.png"), refinery.wine_groups_admin_wine_group_wine_group_items_path(wine_group),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_wine_groups_admin_wine_group_path(wine_group),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.wine_groups_admin_wine_group_path(wine_group),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => wine_group.name),
        :method => :delete %>

    <%#= link_to "Export Notes", export_wine_group_path(wine_group.id) %>
    <%= link_to "Preview Notes", refinery.test_papers_admin_test_papers_path(:dialog=>true, :wine_group_id =>wine_group.id),
                :class => :dialog, :tooltip => 'Preview Taste Notes' %>

  </span>
</li>
