<div class="row-fluid">
  <%= render :partial => 'sidebar' %>
  <div class="span9 row">
    <div class="container row" style="padding: 0">
      <div class="page-header">
        <h1><%= @wine_group.name  %></h1>
      </div>
    </div>
    <% @wine_group.wine_group_items.each do |item| %>
        <div class="container well row" id="item_<%= item.id %>">
          <h2>
            <%= raw item.wine.uuid %>
            <%= show_edit_status(item.test_paper(current_user)) %>
            <%= edit_note_button(item.test_paper(current_user)) %>
          </h2>
          <table class="table table_1">
            <tr>
              <td class="aleft" width="180px">Region/产区:</td>
              <td><%= item.wine.region_en %> <br> <%= item.wine.region_zh %></td>
            </tr>
            <tr>
              <td class="aleft">Grape Variety/葡萄品种:</td>
              <td><%= item.wine.grape_vairety %></td>
            </tr>
            <tr>
              <td class="aleft">Vintage/年份:</td>
              <td><%= vintage(item.wine.vingate) %></td>
            </tr>
            <tr>
              <td class="aleft">Alcohol Strength/酒精度:</td>
              <td><%= alcohol(item.wine.alcohol) %></td>
            </tr>
            <tr>
              <td class="aleft">Sugar Content/含糖量:</td>
              <td><%= sugar(item.wine.sugar)  %></td>
            </tr>
          </table>
          <div class="form_outer" id="form_<%= item.wine_id %>">
            <!--<span class="respond_text label label-success"></span>-->
            <div class="respond_text alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              保存成功
            </div>
            <%= render 'form', :item => item %>
          </div>
        </div>
    <% end %>
    <div class="clearfix"></div>
    <!--end form_outer-->
  </div>
</div><!--/row-->
