
<div class="row-fluid">
  <%= render :partial => 'sidebar' %>

  <div class="span9 row">
    <% @wine_group.wine_group_items.each do |item| %>

        <h2><%= raw item.wine.name %></h2>
        <table class="table">
          <tr>
            <td width="160px">Region/产区:</td>
            <td><%= item.wine.region_en %> <br> <%= item.wine.region_en %></td>
          </tr>
          <tr>
            <td>Grape Vairety/葡萄品种:</td>
            <td><%= item.wine.grape_vairety %></td>
          </tr>
          <tr>
            <td>Vintage/年份:</td>
            <td><%= item.wine.vingate %></td>
          </tr>
          <tr>
            <td>Sugar Content/含糖量:</td>
            <td><%= item.wine.sugar %></td>
          </tr>
        </table>
        <div class="form_outer" id="form_<%= item.wine_id %>">
          <a class="open_toggle"  href="javascript:void(0)">写拼酒辞</a>
          <%= form_for item.test_paper(current_user), :url => c_path(item.test_paper(current_user)), :class => "form", :remote => true, :validate => true do |f|  %>
              <%= f.hidden_field :wine_id %>
              <%= f.hidden_field :group_id %>
              <%= f.hidden_field :user_id %>
              <table class="table">
                <tr>
                  <td width="130px"><%= f.text_field :score, :placeholder => 'Score 评分', :validate => { :presence => true } %></td>
                  <td>
                    <%= f.text_field :drink_begin_at, :placeholder => '试饮年限-开始' %>
                    To
                    <%= f.text_field :drink_end_at, :placeholder => '试饮年限-结束' %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <%= f.text_area :note, :size => '100x7', :placeholder => 'Tasting Note品酒辞' %>
                  </td>
                </tr>
              </table>
              <%= f.button '保  存', :class => 'btn  btn-primary', 'data-loading-text' => "Saving..." %>
              <span class="respond_text"></span>
          <% end %>

        </div>
        <!--end form_outer-->
    <% end %>
  </div>


</div><!--/row-->
<style type="text/css">
  .form_outer form {
      display: none;
  }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $('.form_outer').on('click', '.open_toggle', function(){
            var form = $(this).closest('.form_outer').find('form');
            var open_button = $(this).closest('.form_outer').find('.open_toggle');
            form.slideToggle();
            if(form.css('display') == 'none')
            {
               open_button.text('写拼酒辞');
            }else{
              open_button.text('写拼酒辞');
            }
        });

        $('input[type="text"]').focus(function() {
            $('.respond_text').text('');
        });

        $('textarea').focus(function(){
            $('.respond_text').text('');
        });
    });
</script>